<!DOCTYPE html>
<html>
	<head>
		<title>ScadaPi</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	</head>
	<body>
		{% csrf_token %}

		<header>
			<h1>ScadaPi</h1>
			<p>SCADA software for metal hydride cooling system based on Raspberry Pi.</p>
		</header>
		
		<nav id="main-tab-bar">
			<a href="#control" class="tab-link" onclick="main.current_tab_changed(this)">Control</a>
			<a href="#monitor" class="tab-link" onclick="main.current_tab_changed(this); setTimeout(main.adjust_experiment_view_height, 100);">Monitor</a>
			<a href="#about" class="tab-link" onclick="main.current_tab_changed(this)">About</a>
		</nav>

		<article class="tabs">
			<section id="control" class="tab-content">	
				<div id="panel">		
					<h2>Manual</h2>
					<button id="main-switch" data-active="0" onclick="ctrl.toggle_automation(); setTimeout(plot.update_experiment, 1000);"></button>
					<h2>Automatic</h2>
				</div>

				<div id="diagram">
					<button id="h1" class="heater" data-active="0"></button>
					<button id="h2" class="heater" data-active="0"></button>

					<button id="p1" class="pump" data-active="0"></button>
					<button id="p2" class="pump" data-active="0"></button>
					<button id="p3" class="pump" data-active="0"></button>

					<button id="v1" class="valve" data-active="0"></button>
					<button id="v2" class="valve" data-active="0"></button>
					<button id="v3" class="valve" data-active="0"></button>
					<button id="v4" class="valve" data-active="0"></button>
					<button id="v5" class="valve" data-active="0"></button>
					
					<span id="t1" class="thermistor">T1</span>
					<span id="t2" class="thermistor">T2</span>
					<span id="t3" class="thermistor">T3</span>
					<span id="t4" class="thermistor">T4</span>
					<span id="t5" class="thermistor">T5</span>
					<span id="t6" class="thermistor">T6</span>
					<span id="t7" class="thermistor">T7</span>
					<span id="t8" class="thermistor">T8</span>
				</div>
			</section>
			
			<section id="monitor" class="tab-content">
				<h2>Experiments</h2>
				<div id="experiment-chart-container">
					<nav id="experiment-nav">
						<ul id="experiment-item-list">

						</ul>
					</nav>
					<div id="chart-view">
						<canvas id="temperature-chart"></canvas>
					</div>
				</div>
			</section>
			
			<section id="about" class="tab-content">
				<p>ScadaPi is SCADA software for metal hydride cooling system which is based on Raspberry Pi and some peripheral modules.</p><br/>
				<p>This software is open source and licensed under the GNU General Public License v3.0. The project is hosted at <a href="https://github.com/Laateef/ScadaPi">Github.</a></p>
<br/>
				<p>Copyright (C) 2019 Abdullatif Kalla. E-mail: <a href="mailto:abdullatif.kalla@gmail.com">abdullatif.kalla@gmail.com</a>.</p>
			</section>
		</article>

		<script src="/static/js/jquery-3.4.1.min.js"></script>
		<script src="/static/js/moment.min.js"></script>
		<script src="/static/js/Chart.min.js"></script>
		<script src="/static/js/main.js"></script>
		<script src="/static/js/ctrl.js"></script>
		<script src="/static/js/plot.js"></script>
		<script>	
		$(document).ready(function(){
		  	document.getElementById('main-tab-bar').firstElementChild.click();

			plot.init();

			plot.update_experiment();
			
			setInterval(ctrl.update_all_controls, 1000);

			setInterval(plot.update_temperature, 3000);

			// We have actually one heater. However, due to the high current the heater draws, we dedicated two relays to it.
			// The relays of the heater shoud be actuated simultaneously.
			$('.heater').click(function(){ 
				ctrl.toggle_device(document.getElementById('h1')); 
				ctrl.toggle_device(document.getElementById('h2')); 
			} );	
			
			$('.pump, .valve').click(function(){ 
				ctrl.toggle_device(this); 
			} );		
			//window.onmove =  function(e){ console.log('x: ' + e.x + '  y: ' + e.y); }
		});
		</script>
	</body>
</html>
