<!DOCTYPE html>
<html>
	<head>
		<title>ScadaPi</title>
	</head>
	<body>
		<button id="main_switch" style="position: absolute; top: 50px; left: 100px">Start</button>

		<button id="h1" class="heater" style="position: absolute; top: 100px; left: 100px">Heater 1</button>
		<button id="h2" class="heater" style="position: absolute; top: 150px; left: 100px">Heater 2</button>

		<button id="p1" class="pump" style="position: absolute; top: 200px; left: 100px">Pump 1</button>
		<button id="p2" class="pump" style="position: absolute; top: 250px; left: 100px">Pump 2</button>
		<button id="p3" class="pump" style="position: absolute; top: 300px; left: 100px">Pump 3</button>

		<button id="v1" class="valve" style="position: absolute; top: 350px; left: 100px">Valve 1</button>
		<button id="v2" class="valve" style="position: absolute; top: 400px; left: 100px">Valve 2</button>
		<button id="v3" class="valve" style="position: absolute; top: 450px; left: 100px">Valve 3</button>
		<button id="v4" class="valve" style="position: absolute; top: 500px; left: 100px">Valve 4</button>
		<button id="v5" class="valve" style="position: absolute; top: 550px; left: 100px">Valve 5</button>
		
		<span id="t1" class="thermistor" style="position: absolute; top: 100px; left: 200px">Thermistor 1</span>
		<span id="t2" class="thermistor" style="position: absolute; top: 150px; left: 200px">Thermistor 2</span>
		<span id="t3" class="thermistor" style="position: absolute; top: 200px; left: 200px">Thermistor 3</span>
		<span id="t4" class="thermistor" style="position: absolute; top: 250px; left: 200px">Thermistor 4</span>
		<span id="t5" class="thermistor" style="position: absolute; top: 300px; left: 200px">Thermistor 5</span>
		<span id="t6" class="thermistor" style="position: absolute; top: 350px; left: 200px">Thermistor 6</span>
		<span id="t7" class="thermistor" style="position: absolute; top: 400px; left: 200px">Thermistor 7</span>
		<span id="t8" class="thermistor" style="position: absolute; top: 450px; left: 200px">Thermistor 8</span>

		<script src="/static/js/jquery-3.4.1.min.js"></script>
		<script src="/static/js/base.js"></script>
		<script>	
		$(document).ready(function(){  
			setInterval(function(){
				base.populate_thermistor_array();
				base.populate_heater_array();
				base.populate_pump_array();
				base.populate_valve_array();
				base.adjust_main_switch();
			}, 1000);
			
			$('.heater, .pump, .valve').click(function(){ base.toggle_device(this); } );
			$('#main_switch').click(base.toggle_automation);
		});
		</script>
	</body>
</html>
