header {
	margin: 15px;
}

header h1 {
	color: dodgerblue;
	font-weight: bold;
	font-size: 2.2em;
}

#main-tab-bar {
	width: 100%;
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	overflow: hidden;
}

.tab-link {
	padding: 10px;
	float: left;
	display: block;
	text-align: center;
	width: 33.33%;
	border: none;
	outline: none;
	text-decoration: none;
	background-color: inherit;
	color: #999;
	font-weight: bold;
	font-size: 1.5em;
	cursor: pointer;
}

.tab-link:hover {
	color: dodgerblue;
	font-size: 1.4em;
}

.tab-link.active {
	color: navy;
	background-color: lightgray;
	border-bottom: 5px solid dodgerblue;
}

.tab-content {
	border: none;
	display: none;
	margin: 10px;
}

.tab-content h2 {
	margin: 5px;
}

.tab-link, .tab-content {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

#control {
	padding: 0;
}

#control #panel {
	display: block;
	font-weight: bold;
	margin: 25px;
}

#control #panel label {
	font-weight: bold;
}

#diagram {
	display: block;
	width: 1169px;
	height: 828px;
	background-image: url('/static/images/diagram.png');
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

#experiment-nav {
	background-color: transparent;
	border: none;
	border-left: 2px solid black;
	border-top: 2px solid black;
	float: left;
	max-height: 600px;
	overflow-y: auto;
	padding: 0;
	text-align: left;
	width: 280px;
}

.experiment-item {
	color: navy;
	display: block;
	margin: 3px;
	padding: 0;
}

.experiment-item[data-active='1'] {
	margin: 3px;
	margin-left: 10px;
}

.experiment-plot-button {
	border: 1px solid gray;
	background-color: #F5F5F5;
	cursor: pointer;
	padding: 10px;
	width: 85%;
}

.experiment-item:hover .experiment-plot-button, .experiment-plot-button:hover {
	background-color: #FBFBFB;
	border-left: 5px solid #6EE0FF;
}

.experiment-item[data-active='1'] .experiment-plot-button {
	background-color: #DCDCDC;
	border-left: 5px solid dodgerblue;
}

.experiment-id {
	color: navy;
	font-weight: bold;
}

.decorative-arrow {
	color: darkmagenta;
	margin-left: 3px;
	margin-right: 5px;
}

.experiment-date {
	color: #555;
}

.experiment-delete-button {
	color: maroon;
	margin: 2px;
	padding: 2px;
	visibility: hidden;
}

.experiment-item:hover .experiment-delete-button {
	visibility: visible;

}

.experiment-item .experiment-delete-button:hover {
	color: red;
}

#chart-view {
	margin-left: 285px;
	margin-right: 10px;
	min-width: 700px;
}

#experiment-chart-container::after {
	content: "";
	clear: both;
	display: table;
}

#main-switch, .valve, .pump, .heater {
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
}

#main-switch {
	width: 280px;
	height: 35px;
	background-image: url('/static/images/automation-manual.png');
}

#main-switch[data-active='1'] {
	background-image: url('/static/images/automation-automatic.png');
}

.heater {
	position: absolute;
	width: 96px;
	height: 49px;
	background-image: url('/static/images/heater-off.png');
}

.heater[data-active='1'] {
	background-image: url('/static/images/heater-on.png');
}

#h1 {
	top: 665px;
	left: 1000px;
}

#h2 {
	top: 665px;
	left: 1000px;
}
.pump {
	position: absolute;
	width: 86px;
	height: 86px;
	background-image: url('/static/images/pump-off.png');
}

.pump[data-active='1'] {
	background-image: url('/static/images/pump-on.png');
}

#p1 {
	top: 525px;
	left: 62px;
}

#p2 {
	top: 525px;
	left: 483px;
}

#p3 {
	top: 525px;
	left: 905px;
}

#v1 {
	position: absolute;
	top: 58px;
	left: 542px;
	width: 88px;
	height: 49px;
	background-image: url('/static/images/two-way-valve-off.png');
}

#v1[data-active='1'] {
	background-image: url('/static/images/two-way-valve-on.png');
}

#v2, #v3, #v4, #v5 {
	position: absolute;
	width: 88px;
	height: 68px;
}

#v2 {
	top: 390px;
	left: 73px;
}

#v3 {
	top: 310px;
	left: 193px;
}

#v4 {
	top: 318px;
	left: 888px;
}

#v5 {
	top: 398px;
	left: 1008px;
}

#v2, #v3 {
	transform: rotate(270deg);
	background-image: url('/static/images/three-way-valve-bottom-off.png');
}

#v2[data-active='1'], #v3[data-active='1'] {
	background-image: url('/static/images/three-way-valve-left-off.png');
}

#v4, #v5 {
	transform: rotate(90deg);
	background-image: url('/static/images/three-way-valve-bottom-off.png');
}

#v4[data-active='1'], #v5[data-active='1'] {
	background-image: url('/static/images/three-way-valve-right-off.png');
}

.thermistor {
	height: 30px;
	line-height: 30px;
	position: absolute;
	text-align: center;
	width: 50px;
}

#t1 {
	top: 489px;
	left: 665px;
}

#t2 {
	top: 169px;
	left: 14px;
}

#t3 {
	top: 249px;
	left: 245px;
}

#t4 {
	top: 249px;
	left: 855px;
}

#t5 {
	top: 169px;
	left: 1085px;
}

#t6 {
	top: 689px;
	left: 70px;
}

#t7 {
	top: 689px;
	left: 490px;
}

#t8 {
	top: 689px;
	left: 910px;
}
