header {
	margin: 15px;
}

header h1 {
	color: dodgerblue;
	font-weight: bold;
	font-size: 2.2em;
}

nav {
	width: 100%;
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	overflow: hidden;
}

.tab-link {
	padding: 10px;
	float: left;
	display: block;
	text-align: center;
	width: 33.33%;
	border: none;
	outline: none;
	text-decoration: none;
	background-color: inherit;
	color: #999;
	font-weight: bold;
	font-size: 1.5em;
	cursor: pointer;
}

.tab-link:hover {
	color: dodgerblue;
	font-size: 1.4em;
}

.tab-link.active {
	color: navy;
	background-color: lightgray;
	border-bottom: 5px solid dodgerblue;
}

.tab-content {
	display: none;
	padding: 6px 12px;
	border: none;
}

.tab-content h2 {
	margin: 5px;
}

.tab-link, .tab-content {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

#control {
	position: relative;
	text-align: center;
}

#control #panel {
	position: absolute;
	top: 8px;
	left: 30px;
	font-weight: bold;
}

#control #panel * {
	display: inline-block;
	font-weight: bold;
}

#diagram {
	display: inline-block;
	position: relative;
	min-width: 1145px;
	min-height: 768px;
	background-image: url('/static/images/diagram.png');
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	margin: 25px;
	margin-top: 100px;

}

#experiment-view {
	float: left;
	min-width: 265px;
	overflow-y: scroll;
	text-align: right;
	border-top: 2px solid black;
	padding: 10px;
}

#experiment-view .experiment-link {
	display: block;
	cursor: pointer;
	background-color: #F5F5F5;
	color: navy;
	padding: 7px;
	margin: 3px;
	border: 1px solid gray;
}

#experiment-view .experiment-link:hover {
	background-color: #FBFBFB;
	border-left: 5px solid #6EE0FF;
}

#experiment-view .experiment-link.active {
	background-color: #DCDCDC;
	border-left: 5px solid dodgerblue;
}

#experiment-view .experiment-id {
	color: navy;
	font-weight: bold;
}

#experiment-view .decorative-arrow {
	color: darkmagenta;
	margin-left: 3px;
	margin-right: 5px;
}

#experiment-view .experiment-date {
	color: #555;
}

#chart-view {
	margin-left: 267px;
	min-width: 700px;
}

#container::after {
	content: "";
	clear: both;
	display: table;
}

button {
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
}

#main-switch {
/*
	position: absolute;
	top: 4px;
	left: 150px;
*/
	width: 85px;
	height: 45px;
	background-image: url('/static/images/automation-off.png');
}

#main-switch[data-active='1'] {
	background-image: url('/static/images/automation-on.png');
}

.heater {
	position: absolute;
	width: 102px;
	height: 54px;
	background-image: url('/static/images/heater-off.png');
}

.heater[data-active='1'] {
	background-image: url('/static/images/heater-on.png');
}

#h1 {
	top: 600px;
	left: 916px;
}

#h2 {
	top: 600px;
	left: 1011px;
}
.pump {
	position: absolute;
	width: 86px;
	height: 86px;
	background-image: url('/static/images/pump-off.png');
}

.pump[data-active='1'] {
	background-image: url('/static/images/pump-on.png');
}

#p1 {
	top: 435px;
	left: 41px;
}

#p2 {
	top: 435px;
	left: 483px;
}

#p3 {
	top: 435px;
	left: 920px;
}

#v1 {
	position: absolute;
	top: -18px;
	left: 530px;
	width: 88px;
	height: 49px;
	background-image: url('/static/images/two-way-valve-off.png');
}

#v1[data-active='1'] {
	background-image: url('/static/images/two-way-valve-on.png');
}

#v2, #v3, #v4, #v5 {
	position: absolute;
	width: 88px;
	height: 68px;
}

#v2 {
	top: 288px;
	left: 50px;
}

#v3 {
	top: 226px;
	left: 150px;
}

#v4 {
	top: 232px;
	left: 903px;
}

#v5 {
	top: 295px;
	left: 1002px;
}

#v2, #v3 {
	transform: rotate(270deg);
	background-image: url('/static/images/three-way-valve-bottom-off.png');
}

#v2[data-active='1'], #v3[data-active='1'] {
	background-image: url('/static/images/three-way-valve-left-off.png');
}

#v4, #v5 {
	transform: rotate(90deg);
	background-image: url('/static/images/three-way-valve-bottom-off.png');
}

#v4[data-active='1'], #v5[data-active='1'] {
	background-image: url('/static/images/three-way-valve-right-off.png');
}

.thermistor {
	position: absolute;
	width: 60px;
	height: 40px;
}

#t1 {
	top: -90px;
	left: 400px;
}

#t2 {
	top: -90px;
	left: 470px;
}

#t3 {
	top: -90px;
	left: 540px;
}

#t4 {
	top: -90px;
	left: 610px;
}

#t5 {
	top: -90px;
	left: 680px;
}

#t6 {
	top: -90px;
	left: 750px;
}

#t7 {
	top: -90px;
	left: 820px;
}

#t8 {
	top: -90px;
	left: 890px;
}
