header {
	margin: 15px;
}

header h1 {
	color: dodgerblue;
	font-weight: bold;
	font-size: 2.2em;
}

nav {
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	overflow: hidden;
}

a.tab-link {
	padding: 15px;
	float: left;
	display: block;
	text-align: center;
	width: 33.33%;
	border: none;
	outline: none;
	text-decoration: none;
	background-color: inherit;
	color: #999;
	font-weight: bold;
	font-size: 1.5em;
	cursor: pointer;
}

a.tab-link:hover {
	color: #555;
	font-size: 1.4em;
}

a.tab-link.active {
	color: darkblue;
	background-color: lightgray;
	border-bottom: 5px solid dodgerblue;
}

section.tab-content {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

a.tab-link, section.tab-content {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
